div#board(class="container")
    h1 Board
    br
    br
    div.row
        -var suits = Object.keys(board)
        for suit in suits
            if (suit == '♦' || suit == '♥')
                div(class="col-xs-3 suitContainer")
                    for card in board[suit]
                        div(id='#{suit}' class="redSuits suit") #{card}
            else
                div(class="col-xs-3 suitContainer")
                        for card in board[suit]
                            div(id='#{suit}' class="suit") #{card}


