html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        title Greatestful
body
    h1 Hello #{playerData.player}
    h2 Your opponents are #{opponants}
    h2 Your cards are #{playerData.cards}
    include board
