html
    head
        title Greatestful
        link(href="stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen")
body
    h1 Greatestful
    form(method="post" action="/registerPlayer")
        |Enter Your Name:
        input(type="text" name="name")
        input(type="submit" value="Register")
