body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#board {
    height: 100%;
    text-align: center;
}

#board h1 {
    text-align: center;

}

.redSuits {
    color: red;
}

.card {
    height: 130px;
    width: 50px;
    border: solid 1px black;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: large;
}

.cardsContainer {
    width: 1000px;
    height: 450px;
    display: inline-flex;
}

.suit {
    height: 20px;
    width: 60%;
    border: solid 1px black;
    margin-right: 5px;
    margin-left: 5px;
}

.suitContainer {
    height:100%;
    border-left: solid black 1px;
}